@use '../../colors';

.main__button {
    background-color: colors.$default-color;
    border: none;
    font-family: 'Epilogue-Black', sans-serif;
    color: colors.$filter-color;
    padding: 25px 36px;
    border-radius: 10px;
    cursor: pointer;

    
}
.disabled {
    opacity: 0.5;
    cursor: default;

}