@use '../../sccs-partials/colors';

.main__button {
  background-color: colors.$default-color;
  border: none;
  font-family: 'Epilogue-Regular', sans-serif;
  color: colors.$filter-color;
  padding: 25px 36px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 70px;
  font-size: 0.875rem;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
