@use '../../sccs-partials/colors';
@use '../../sccs-partials/screenParameters';

.header__menu {
  display: flex;
  gap: 8.4vw;
  width: fit-content;
  justify-content: center;
  flex-basis: 70%;
  @include screenParameters.mobile {
    display: none;
  }

  .link {
    color: colors.$default-color;
    text-decoration: none;
    font-family: 'Epilogue-Regular';
  }
}
