$header-background: #28293e;
$main-background: #fdf0e9;
$default-color: #ffffff;
$description-color: #707070;
$button-border-color: #707070;
$selected: #4fe24a;
$filter-color: #391400;
$select-color: #f3d1bf;
